<footer class="footer" role="contentinfo">
    <div class="wrap small" style="text-align:center;">
        <div class="footer-line">
            <a href="https://www.facebook.com/BallForBloomfield/" target="_blank" rel="noopener" aria-label="Follow Ball for Bloomfield on Facebook">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="#1877F2" viewBox="0 0 24 24" role="img" style="vertical-align:middle;">
                    <path
                        d="M22.675 0h-21.35C.597 0 0 .598 0 1.333v21.333C0 23.403.597 24 1.325 24H12.82v-9.294H9.692V11.08h3.128V8.412c0-3.1 1.894-4.788 4.659-4.788 1.325 0 2.464.098 2.794.142v3.24l-1.918.001c-1.505 0-1.796.715-1.796 1.764v2.309h3.588l-.467 3.626h-3.121V24h6.116c.728 0 1.325-.597 1.325-1.334V1.333C24 .598 23.403 0 22.675 0z"
                    ></path>
                </svg>
            </a>
            &nbsp;
            <a href="mailto:chris@ballforbloomfield.com">chris@ballforbloomfield.com</a>
        </div>
        <div class="footer-line">
            <a href="/privacy">Privacy Policy</a> &middot;
            <a href="/terms">Terms &amp; Conditions</a>
        </div>
        <div class="footer-line">
            Paid for by Ball for Bloomfield &middot; &copy; {new Date().getFullYear()}
        </div>
    </div>
</footer>
