<footer class="footer" role="contentinfo">
    <div class="wrap small">
        Paid for by Ball for Bloomfield &middot; &copy; {new Date().getFullYear()} •
        <a href="/privacy">Privacy Policy</a> &middot;
        <a href="/terms">Terms &amp; Conditions</a>
    </div>
</footer>
